@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido(s)</h1>
    <p>¡Aprenda sobre <a href="https://docs.microsoft.com/aspnet/core">construcción de aplicacioes web con ASP.NET Core!</a>.</p>
</div>
